  body {
      margin: 0px;
      overflow-x: hidden;
  }
  
 img.teclever_logo.main_logo_teclever{
position: relative;
    top: .5em;
    left: .2em;
 }

 .logo_box{
   background:white; 
   position:absolute;
   height:5.6em;
   left: 6em;
   z-index: 10000;
 }


      
    body {
        margin: 0px
    }
    
   
    
    span.service {
        /*color: #005B76;*/
        color: white;
        font-weight: bold;
        font-size: 24px;
        position: relative;
        top: 12.3em;
        float: left;
        left: 4.5em;
    }
    
    span.solution {
        /*color: #005B76;*/
         color: white;
        font-weight: bold;
        font-size: 24px;
        position: relative;
        top:  12.3em;
        float: right;
        right: 4.5em;
    }
    
    img.teclever_logo {
            width: 118px;
    height: 66px;
        margin-left: -3em;
       
    }
    
    img.left_arrow {
        width: 36px;
        height: 36px;
        position: relative;
        top: 23em;
        float: left;
        right: -8px;
    }
    
    .right_arrow {
        width: 36px;
        height: 36px;
        position: relative;
        top: 23em;
        float: right;
        left: 1em;
    }
   

    /*----------------------------------------teclecer_contact-----------------------------------*/

    .teclever_logo_1{

    }





    /*------------------------------------teclever services------------------------------------------------*/

    .header_box{
    border:1px solid black;
    height: 72px;
    }


  span.service {
      color: white;
      font-weight: bold;
      font-size: 24px;
      position: relative;
      top: 12.3em;
      float: left;
      left: 4.5em;
  }
  
  span.solution {
      color: white;
      font-weight: bold;
      font-size: 24px;
      position: relative;
      top: 12.3em;
      float: right;
      right: 4.5em;
  }
  
  img.teclever_logo {
      width: 108px;
      height: 55px;
      margin-left: 0em;
      top: 11px;
  }
  
  img.left_arrow {
      width: 36px;
      height: 36px;
      position: relative;
      top: 23em;
      float: left;
      right: -4px;
  }
  
  .right_arrow {
      width: 36px;
      height: 36px;
      position: relative;
      top: 23em;
      float: right;
      left: 2.2em;
  }
  /*----------------------------------------teclecer_contact-----------------------------------*/
  .faltu_hdr{
    position: fixed;
    border: 1px solid none;
    padding: 2.7em;
    top: -1px;
    /*background: red;*/
    z-index: 10;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.88),#FFFFFF);
}

  .fb {
      position: fixed;
      top: 1em;
      z-index: 1000;
  }
  
  .facbook {
      left: -3.6em;
      top: 9px;
      width: 4.8em;
  }
  
  .twitter {
      right: 20em;
  }
  
  .linkedin {
      right: 13.5em;
  }
  
  .google {
      right: 8em;
      top: 14px;
  }
  
  .logo {
      top: 0;
      left: 5.3em;
      z-index: 100000;
  }
  
  .rss {
      right: 3.1em;
      top: 7px;
  }
  /*.social img{
        position:relative;
        top:-1px;
    }*/
  

  .nav_head {
      border: 1px solid none;
      padding: 12px;
      position: fixed;
      top: 2.4em;
      z-index: 1000;
      /*background: rgba(140, 138, 133, 0.52);*/
      background: -webkit-linear-gradient(right, #5c5a56,rgba(205, 205, 205, 0.21),#FFFFFF);
      left: 0em;
  }
  
  .footr_contact {
      border: 1px solid none;
      padding: 1%;
      background: -webkit-linear-gradient(#188bae, #0b5e77);
  }
  .social{
    top: -2.8em;
  }
  .social img {
      position: absolute;
      /* margin: 0 30px; */
      top: 8px;
      margin-right: .9em;
  }
  
  .nav_tab {
      color: white;
      font-size: 14px;
      text-decoration: none;
      padding: 0px 2px;
      margin-left: 23px;
  }
  
  .nav_tab:hover {
      text-decoration: none;
      color: white;
  }
  
  .nav_tab:active {
      color: #00c5ff;
  }
  
  .nav_tab:focus {
      text-decoration: none;
      color: #00c5ff;
  }
  
  p.contact_hedr {
      color: white;
      font-size: 36px;
  }
  
  p.contct_contnt {
      color: white;
      font-size: 14px;
  }
  
  .fotr_icon {
      position: relative;
      left: 2.4em;
      top: 5px;
  }
  
  .contact_footer {
      position: relative;
      top: -10px;
      margin-top: 1em;
  }
  
  .tab_bar {
      position: relative;
      left: 12px;
  }
  /*------------------------------------teclever services------------------------------------------------*/
  
  .service_page {
      height: 85em;
  }
  
  .first_page_service {
      background-image: url(../images/teclever_service/bg1.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 47em;
      width: 100%;
  }
  
  .social_service {
      position: relative;
      /*top: -47em;*/
      top: -2.8em;
  }
  
  .service_frstpage_contnt {
      position: absolute;
      /*top: -31em;*/
      /* text-align: center; */
      left: -1%;
      margin-top: 16em;
  }
  
  .service_frstpage_contnt_frst {
      position: absolute;
      bottom: 17em;
      margin-top: 0;
      left: 12.8em;
  }
  
  .frstpage_headr {
      position: relative;
      left: 1em;
      top: -10px;
      font-size: 48px;
      color: #015c77;
  }
  
  .frstpage_content {
      font-size: 14px;
      color: white;
      position: relative;
      top: -9px;
  }
  
  .second_page_service {
      background-image: url(../images/teclever_service/bg2.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 47.3em;
      width: 100%;
      position: relative;
      top: -2px;
  }
  
  .service_scndpage_contnt {
      position: relative;
      bottom: 36em;
      left: 3.5em;
  }
  
  ul.service_list {
      color: white;
      position: relative;
      left: -2.6em;
      top: -1em;
  }
  
  .service_secnd_pag {
      position: relative;
      left: -2.4em;
  }
  
  button.second_buton {
      position: relative;
      top: -24.5em;
      right: 10.3em;
      background: #015c77;
      border-color: #015c77;
      outline: none;
      color: white;
      width: 120px;
      height: 30px;
  }
  /*--------------third_page_service---------------*/
  
  .third_page_service {
      background-image: url(../images/teclever_service/bg3.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 47.4em;
      width: 100%;
      position: relative;
      /*top: -23.7em;*/
  }
  
  button.third_buton {
      position: relative;
      top: -24em;
      left: -10em;
      background: transparent;
      color: white;
      border-color: white;
      width: 120px;
      height: 30px;
      outline: none;
  }
  
  .service_third_pag {
      position: absolute;
      bottom: -13.2em;
      right: 1.5em;
  }
  
  .service_thirdpage_contnt {
      position: relative;
      bottom: 36.5em;
      left: -1.5em;
  }
  /*---------------------fourth_page_service-----------*/
  
  .fourth_page_service {
      background-image: url(../images/teclever_service/bg4.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 47.3em;
      width: 100%;
      position: relative;
  }
  
  button.fourth_buton {
      position: relative;
      top: 13em;
      right: 10.2em;
      background: transparent;
      border-color: white;
      outline: none;
      color: white;
      width: 120px;
      height: 30px;
  }
  /*--------------------------teclecver service inner--------------------*/
  
  .inner_main_apg {
      position: absolute;
      top: 2px;
      left: 12em;
  }
  .services_top_link{
    position: absolute;
    top: 5.4em;
    left: -7.5em;
  }
  span.embed_srvc{
    font-size: 12px;;
    color: #015c77;
  }
  
  span.srvc{
    color: white;
     font-size: 12px;
  }
  .first_page_inner_service {
      background-image: url(../images/teclever_service_inner/bg1.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 704px;
  }
  
  .frst_box_serviceinner {
      border: 1px solid none;
      margin-top: 1em;
      height: 374px;
      background: -webkit-linear-gradient(#188bae, #0b5e77);
  }
  
  .scndpage_iservice {
      font-size: 14px;
      color: white;
      position: relative;
      top: 28px;
  }
  
  .iner_service_crcl {
      margin-top: 3em;
  }
  
  p.iner_service_crcl_content {
      font-size: 14px;
      color: white;
      position: relative;
      top: 3px;
  }
  
  .iner_servc_bx {
      margin-top: 1.3em;
  }
  
  .iner_service_lftbx {
      border: 1px solid none;
      height: 20em;
      position: relative;
      left: -1em;
      background: #015c77;
  }
  
  .iner_service_ritbx {
      border: 1px solid none;
      height: 20em;
      position: relative;
      left: 1em;
      background-color: #e0eef2;
  }
  
  p.inr_srvc_lftbx_hdr {
      color: white;
      font-size: 24px;
      position: relative;
      top: 14px;
  }
  
  p.iner_service_ritbx_hdr {
      color: #3c3c3c;
      font-size: 24px;
      position: relative;
      top: 14px;
  }
  
  p.inr_srvc_lftbx_cont {
      color: white;
      font-size: 14px;
      position: relative;
      top: 1.3em;
  }
  /*------------------------------------teclever services------------------------------------------------*/
  
  p.iner_service_ritbx_cont {
      color: #3c3c3c;
      font-size: 14px;
      position: relative;
      top: 1.3em;
  }
  
  ul.inr_srvc_lftbx_cont_list {
      position: relative;
      left: -1.4em;
      color: white;
      top: 2.3em;
  }
  
  ul.iner_service_ritbx_cont_list {
      position: relative;
      left: -1.4em;
      color: #3c3c3c;
      top: 2.3em;
  }
  
  .servic_inner_fotr {
      margin-top: 1.3em;
      border: 1px solid none;
      height: 107px;
      background-color: #e0eef2;
      margin-bottom: 2em;
  }
  
  .service_scndpage_contnt {
      position: relative;
      bottom: 36em;
      left: 3.5em;
  }
  
  .service_fourthpage_contnt {
      position: relative;
      /*bottom: 36em;*/
      left: 3.5em;
  }
  /*-----------homepage--------------------------------*/
  
  .social_hompag img {
      margin-right: 0;
      margin-left:  4em;
  }
  
  .facebook {
      left: -13.4%;
  }
  
  .foter_frst_row_hompag {
      margin-top: 10px;
      margin-left: 5.8em;
  }
  
  input.pasword_hompag {
      margin-left: 1.8em;
      outline: none;
      text-indent: 8px;
      /*background: #3e3e3e;*/
  }
  
  input.username_hompag {
      outline: none;
      text-indent: 8px;
      /*background: #3e3e3e;*/
  }
  
  button.login_butn_hompag {
      margin-left: 1.8em;
      background-color: #015c77;
      color: white;
      border-color: #015c77;
      outline: none;
  }
  
  .tab_bar_homepage {
      position: relative;
      left: -3em;
  }
  
  .hompage_frst_row {
      position: relative;
      top: 1em;
  }
  
  .hompage_scnd_row {
      position: relative;
      top: 1.5em;
  }
  
  span.ftr_cont_hompg {
      font-size: 14px;
      color: #636363;
      position: relative;
      left: -2.8em;
      top: 1px;
  }
  
  a span.frgtpawd {
      float: right;
      color: #015c77;
      text-decoration: none;
  }
  
  a span.frgtpawd:hover {
      color: white;
  }
  
  img.img_c {
      position: relative;
      left: -2.8em;
  }
  
  input[type="txt"] {
      background-color: #3e3e3e;
      color: #7c7c7c;
      border-color: #7c7c7c;
  }
  /*-------------------------------teclever solutions---------------------*/
  
  .first_page_solution {
      background-image: url(../images/teclever_solution/bg1.png);
      background-repeat: no-repeat;
      background-size: cover;
      /*height: 47em;*/
      height: 710px;
      width: 100%;
  }
  
  .second_page_solution {
      background-image: url(../images/teclever_solution/bg2.png);
      background-repeat: no-repeat;
      background-size: cover;
      /*height: 47em;*/
      height: 706px;
      width: 100%;
  }
  
  .third_page_solution {
      background-image: url(../images/teclever_solution/bg3.png);
      background-repeat: no-repeat;
      background-size: cover;
      /*height: 47em;*/
      height: 708px;
      width: 100%;
      position: relative;
      top: -3px;
  }
  
  .scndpag_solution {
      position: relative;
      left: 4em;
      top: 7px;
  }
  
  img.sky_solution {
      position: relative;
      left: -2em;
  }
  
  button.scnd_btn_soltn {
      position: relative;
      right: 10.2em;
      top: 23.1em;
  }
  
  img.logo_solution {
      position: relative;
      left: -1.5em;
      margin-top: 2em;
  }
  
  .solution_scndpage_contnt {
      position: relative;
      left: 3.5em;
      top: 13em;
  }
  
  .solution_thirdpage_contnt {
      position: relative;
      left: -1.5em;
      top: 11em;
  }
  
  button.thrd_btn_solutn {
      top: 23em;
  }
.icons_text{
    z-index: 9999;
}

